body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
}

.principal {
   
   background-image:url("a\ hacker\ wearing\ a\ green\ mask.\ \ co.webp") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.contenido {
    background-image: url(A\ black\ and\ white\ image\ focusing\ on\ cybersecurityc.webp);
    background-size: cover;
    
}
.navbar {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.navbar a {
    transition: color 0.3s ease;
    background-color: #18510a29;
    
}
a:hover
{
    background-color: rgb(100, 123, 103);
    border-radius: 10px;
    padding: 10px;
    
    
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}
.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: #ccc;
}
.header h1 {
    font-size: 58px;
    margin: 0;
}

.header p {
    font-size: 20px;
    letter-spacing: 3px;
    margin: 10px 0 0;
}
#PowerShell {
    background-color: rgb(23, 193, 148);
    padding: 10%;
    display: grid;
    grid-template-columns: 70% 30%;
}

#PowerShell h2{
    padding: 5% 0;
    font-size: xx-large;
    background-color: whitesmoke;
    background-size:contain;
    text-align: center;
    border-radius: 10px; 
    border: 2px solid black;
   
}

#PowerShell img{
    width: 100%;
    border-radius: 15px;
}

#PowerShell p{
    font-size: larger;
}

.izquierda{
    margin-right: 15px;
    line-height: 30px;
}
#Ataques{

    background-color: none;
    display: grid;
    grid-template-columns: 50% 40%;
    color:rgb(23, 193, 148);
    justify-content: center;
    padding: 30px;
}

.middle_text{
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding: 30px;
    color: teal;
    font-size:50px;
    
}
.ataq_derecha{

    color: white;
    padding: 15px;
  border-radius: 9px;
  border: 2px solid rgb(255, 255, 255);
  color: black;
  background-color: rgb(23, 193, 148);
}
.ataq_izquierda{
    background-color: aliceblue;
    color: teal;
    padding: 15px;
  border-radius: 9px;
  border: 2px solid rgb(255, 255, 255);
  margin-right: 15px;
}

#Autoencoder{
    background-color: rgb(23, 193, 148);
    color: teal;
    line-height: 1.5;
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

#Autoencoder h2{
    text-align: center;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 10px;
}

#Autoencoder p{
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
}

figure {
    display: flex; 
    gap: 10px; 
    align-items: center; 
}

#Conclusion{
    padding: 15px;
    line-height: 1.5;
    background-color: rgb(195, 222, 198);
    border-radius: 15px;
}
footer{
    background-color: rgb(100, 123, 103);
    padding: 20px;
    border-radius: 10px;
}